<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="com.dataforpeople.plugins.wirelesssettings" version="1.0.1">
        <name>Wireless Settings</name>
        <description>Display the wireless settings page</description>
        <license>Apache 2.0</license>
        <keywords>wireless, connection, settings</keywords>

        <js-module src="www/WirelessSettings.js" name="WirelessSettings">
            <clobbers target="window.plugins.WirelessSettings" />
        </js-module>

        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="WirelessSettings" >
                    <param name="android-package" value="com.dataforpeople.plugins.WirelessSettings"/>
                </feature>
            </config-file>

            <source-file src="src/android/com/dataforpeople/plugins/WirelessSettings.java" target-dir="src/com/dataforpeople/plugins/" />
        </platform>
    </plugin>